@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background:#1A1B20;
  color: #FFF;
  overflow: hidden;
}
#navlink::after{
  position: absolute;
  width: 200px;
  height: 20px;
  background-color: #FFF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Hurme Geometric Sans";
  src: url("../app/assets/fonts/HurmeGeometricSans3-Bold.woff2");
}
@font-face {
  font-family: "font light";
  src: url("../app/assets/fonts/HurmeGeometricSans3-Regular.woff2");
}
::-webkit-scrollbar{
  background-color: red;
  width: 6px;
}
::-webkit-scrollbar-track{
  background-color: blue;
  width: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(141, 141, 29);
  width: 6px;
}